@use 'sass:math';

// 01. Media Query Breakpoints
$mobile-portrait-max: 478px;
$mobile-landscape-max: 767px;
$tablet-max: 991px;
$large-min: 1280px;
$xlarge-min: 1440px;
$xxlarge-min: 1920px;

// 02. Colours
$bittersweet: #ff6f59;
$sage: #b2b09b;
$dark--lava: #544b3d;
$little--blue: #80a1d4;
$pine--green: #0b7a75;
$light--green: #8aea92;
$liberty--blue: #4357ad;
$vermillion: #c73e1d;
$orange--web: #f49f0a;
$june--bud: #c8e86f;
$brink--pink: #e85d75;
$nickel: #74776b;
$blue--purple: #c2aff0;
$dark--blue--purple: #9191e9;

$yellow: #ffd068;
$red: #f56d4c;
$blue: #8bd1d0;
$grey--dark: #2e3649;
$grey: #485570;
$grey--light: #9599a2;
$grey--transparent: rgba(0, 7, 18, 0.6);
$white: #dfe4e6;
$bright-white: #f6f7f9;
$black: #0a0a0a;
$white: #fff;

$body-background-color: $bright-white;
$default-font-color: $dark--lava;
$default-link-color: $dark--lava;
$default-hover-color: $nickel;

// 03. Type
$avenir: avenir, helvetica, arial, sans-serif;
$body-font-family: $avenir;
$default-font-family: $body-font-family;
$font-family: $body-font-family;
$heading-font-family: $avenir;

// 04. Grid
$grid-columns: 12;
$grid-gutter: 30px;
$container-width: 1440px;
$container-gutter-mobile: math.div($grid-gutter, 2);
$container-gutter-tablet: 50px;
$container-gutter-desktop: 70px;
